.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999;
}

.scroll-top-btn {
    background-color: var(--brand-red);
    color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    font-size: 1.2rem;
    border: none;
    outline: none;
}

.scroll-top-btn:hover {
    background-color: #a42e28;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

body.dark .scroll-top-btn {
    background-color: #ff746c;
}

body.dark .scroll-top-btn:hover {
    background-color: #ff574a;
}